/* Colors */
/*topbar BG Color*/
$topbarbackgroundColor: #f5f5f5;
/*Stage(above Content) BG Color*/
$stagebackgroundColor: #f1f1f1;
/* Footer  BG Color*/
$footerbackgroundColor: #3c3c3b;
/* Bottom  BG Color*/
$bottombackgroundColor: #444444;

/*Font Colors*/
$coporateColor: #afca08;
$linkHoverColor: $coporateColor;
$coporateColorDark:#9db507;

$bottomFontColor: #d3d8db;
$footerFontColor: $bottomFontColor;

/*BG Colors*/
$lightbackgroundColor: #f2f4f5;
$darkbackgroundColor: #3c3c3b;
$coporatebackgroundColor: $coporateColor;

