@font-face {
	font-family: 'webfont';
	src:url('../Fonts/webfont.eot?g8ibix');
	src:url('../Fonts/webfont.eot?#iefixg8ibix') format('embedded-opentype'),
		url('../Fonts/webfont.ttf?g8ibix') format('truetype'),
		url('../Fonts/webfont.woff?g8ibix') format('woff'),
		url('../Fonts/webfont.svg?g8ibix#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'webfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e900";
}
.icon-user:before {
    content: "\e901";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-check:before {
    content: "\f00c";
}
.icon-print:before {
    content: "\f02f";
}
.icon-align-justify:before {
    content: "\f039";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-plus:before {
    content: "\f067";
}
.icon-minus:before {
    content: "\f068";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-phone:before {
    content: "\f095";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-navicon:before {
    content: "\f0c9";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-xing:before {
    content: "\f168";
}
.icon-facebook:before {
    content: "\e600";
}
.icon-cog:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-male:before {
    content: "\f183";
}