@import "singularitygs";
@import "breakpoint";

@include add-grid(12);
@include add-gutter(1);

/*defining Breakpoints*/
$xlarge: 1280px;
$large: 1024px;
$medium: 768px;
$xmedium: 640px;
$small: 480px;
$xsmall: 320px;


/* Padding / Size */
$pageWrapperPadding: 20px;

@mixin padding($padding: $pageWrapperPadding) {
	padding-left: $padding;
	padding-right: $padding;
}


$pageWrapperTop: 10px;
/*maximum Width of Page for large Breakpoint*/
$pageWrapperMaxWidth: 1140px;



