#breadcrumb_container {
	display:none;
	font-size: 13px;
	line-height: 20px;
	@include breakpoint($medium) {
		display: block;
	}
	ul.breadcrumb {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			&.breadcrumb_home {
				padding-right:1px;
			}
			float: left;
			a {
				font-size: 13px;
				line-height: 20px;
			}
			span {
				display: inline-block;
				padding-left:1px;
				padding-right:1px;
			}
		}
	}
}

