
body {
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 23px;
	color: #5c6166;
	margin: 0;
	pading: 0;
	@include breakpoint($medium) {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
}

#stage {
	position: relative;
	.page_wrap {
		z-index: 13;
		max-width: 100%;
		.page_wrap {
			@include breakpoint($large) {
				max-width: $pageWrapperMaxWidth;
			}
		}
	}
	.imageContainer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 12
	}
	.padding {
		padding: 0;
		.padding {
			@include padding();
			@include breakpoint($small) {
				@include padding(40px);
			}
		}
	}
}

/*to Top Layer*/
#toTop {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	display: none;
	cursor: pointer;
	font-size: 16px;
	padding: 15px;
	padding-right: 18px;
	padding-left: 18px;
	position: fixed;
	right: 15px;
	bottom: 15px;
	transition: background-color 0.3s ease 0s;
	z-index: 12;
	border-radius: 5px;
	span {
		font-weight: normal;
	}
	&:hover {
		background-color: $coporatebackgroundColor;
	}
}

/*to Top Layer*/

:focus {
	outline: none;
}

a:focus {
	outline: 0;
}

#content {
	position: relative;
	margin-top: 10px;
	@include breakpoint($medium) {
		margin-top: 0px;
		&.fixed {
			padding-top: 115px;
		}
	}
}

#footer {
	color: $footerFontColor;
	background-color: $footerbackgroundColor;
	min-height: 30px;
	font-size: 13px;
	line-height: 21px;
	h4,
	h4 > a,
	a {
		color: $bottomFontColor;
	}
	.page_wrap {
		padding-bottom: 30px;
		@include breakpoint($small) {
			padding-bottom: $pageWrapperTop;
		}
		.page_wrap {
			padding-bottom: $pageWrapperTop;
		}
	}
	.third {
		margin-bottom: 0;
		border-bottom: 1px $bottombackgroundColor solid;
		&:nth-child(3) {
			border-bottom: none;
			padding-bottom: 20px;
		}
		@include breakpoint($medium) {
			margin-bottom: 10px;
			border-bottom: none;
		}
		.padding {
			paddign-right: 0;
			padding-left: 0;
		}
		p {
			font-size: 13px;
			line-height: 21px;
			color: #939da3;
		}
		div.ce-center .ce-outer {
			float: left;
			left: 0;
		}
		.ce-center .ce-inner {
			float: left;
			position: relative;
			right: 0;
			@include breakpoint($large) {
				float: left;
				position: relative;
				right: -24%;

			}
		}
	}
	div.ce,
	div.ce div.ce-imagerow,
	ul.ce-uploads li {
		overflow: visible;
	}
	.telephoneContact,
	.emailContact,
	.faxContact,
	.locationContact {
		display: block;
		margin-top: 5px;
		a {
			color: $bottomFontColor;
		}
		&:before {
			font-size: 18px;
			margin-right: 15px;
			margin-top: 0;
			vertical-align: top;
		}

	}
	.locationContact {
		margin-top: 30px;
		margin-bottom: 15px;
		&:before {
			margin-right: 17px;
		}
		span {
			padding-left: 35px;
		}
		span.locationContactCompany {
			padding-left:3px;
			white-space:nowrap;
			position: absolute;
		}
	}
}
/*Chrome only*/
@media screen and (min-width: 1023px) and (-webkit-min-device-pixel-ratio:0) {
	#footer .locationContact span.locationContactCompany {
		padding-left:0;
	}
}


#bottom {
	background-color: $bottombackgroundColor;
	min-height: 10px;
	color: $bottomFontColor;
}

/* the Content Container*/
.page_wrap {
	position: relative;
	padding-top: $pageWrapperTop;
	padding-bottom: $pageWrapperTop;
	@include breakpoint($large) {
		max-width: $pageWrapperMaxWidth;
	}
	margin-left: auto;
	margin-right: auto;
	&:after {
		content: "";
		display: table;
		clear: both;
		height: 0;
	}
}

.padding {
	@include padding();
	@include breakpoint($small) {
		@include padding(20px);
	}
}

.light {
	background-color: $lightbackgroundColor;
}

.dark {
	background-color: $darkbackgroundColor;
}

/*coporate Full size Content*/
.coporate {
	background-color: $coporatebackgroundColor;
	color: #fff;
	.gridHeader h2 {
		color: #fff;
	}
}


.full {
	.gridHeader h2 {
		margin-bottom:30px;
	}
}
/*global Items like tel , email , contactinfo*/

.telephoneContact,
.emailContact,
.faxContact,
.locationContact {
	&:before {
		font-family: 'webfont';
		content: "\f095";
		padding-right: 5px;
		font-size: 15px;
		display: inline-block;
	}
}

.emailContact {
	&:before {
		content: "\f003";
	}
}

.faxContact {
	&:before {
		content: "\f02f";
	}
}

.locationContact {
	&:before {
		content: "\f041";
	}
}
h6 {
    font-size: 18px;
}

.align-center,
p.align-center{
	text-align:center;
}
.fourth h3.big{
	line-height: 1;
	font-weight:400;
}
.fourth h6{
	font-weight:400;
	font-size: 18px;
	margin-top:5px;
}


/*ContactData Content Element*/
.ce {
	.spacer {
		clear: both;
		height: 15px;
	}
	.telephoneContact,
	.emailContact,
	.faxContact,
	.locationContact {

		display: block;
		a {
			color: $coporateColor;
		}
		&:before {
			color: $coporateColor;
			border-radius: 50%;
			box-shadow: 0 0 0 2px $coporateColor inset;
			font-size: 22px;
			height: 50px;
			line-height: 50px;
			padding-left: 6px;
			text-align: center;
			width: 43px;
		}
	}
	.locationContact {
		&:before {
			margin-right: 17px;
		}
		span {
			padding-left: 76px;
		}
	}
	.emailContact {
		margin-top: 10px;
	}
	.locationContactRight {
		padding-top: 5px;
	}
	.contactText {
		padding-top: 15px;
		font-size: 14px;
		@include breakpoint($medium) {
			font-size: 16px;
		}
	}
}

/* Content  */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	font-weight:500;
}

h4 {
	font-size: 21px;
	font-weight: 400;
}

.gridHeader h2 {
	font-family: 'Noto Sans';
	font-size: 26px;
	color: #5c6166;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-top:30px;
	@include breakpoint($medium) {
		font-size: 32px;
		margin-bottom:30px;
	}
}

.gridHeader h2.ce-firstHeader {
	margin-top: 20px;
}

.big {
	font-size:4em;
	line-height: 1;
}



.four_twelve_right h2 {
	font-family: "Noto Sans";
	font-size: 26px;
	font-weight: 400;
	color: #292e33;
}

img, object, embed {
	height: auto;
	max-width: 100%;
}

a {
	color: $coporateColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: $linkHoverColor;
}

.coporate a,
.coporate a:hover {
	color: #fff;
}
.full.coporate {
	h6 {
		font-weight: 400;
	}
	.half {
		h2 {
			font-size:30px;
			margin-top:30px;
		}
		h6 {
			font-size:20px;
			line-height: 26px;
		}
	}
}
/* Helper */
.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.noRightMargin {
	margin-right: 0;
}

.rightFloat {
	float: right;
}

.leftFloat {
	float: left;
}

.noTopPadding {
	padding-top: 0;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.hidden {
	opacity:0;
}
.visible {
	opacity:1;
}


.w-portfolio-list {
	position: relative;
	.ce {
		position: relative;
	}
}

.w-portfolio-list::after {
	clear: both;
	content: "";
	display: block;
}
@-moz-document url-prefix() {
    /* Firefox doesn't respect max-width in certain situations */
    img { width: 100%; max-width: -moz-max-content; }
}
.w-portfolio-item-h {
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;
	z-index: 1;
	/*border:1px $coporateColor solid;*/
}

.w-portfolio-item-anchor {
	bottom: 0;
	cursor: pointer;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.w-portfolio-item-h .w-portfolio-item-image img {
	display: block;
	margin: 0 auto;
	@include breakpoint($large) {
		width: 90%;
		margin-top: 5%;
		opacity: 0.7;
	}

}
.w-portfolio-item-h:hover .w-portfolio-item-image img {
	@include breakpoint($large) {
		opacity: 1;
	}
}
.w-portfolio-item-title {
	margin-bottom: 0;
}

.w-portfolio-item-text {
	display: block;
}

/* w-portfolio */

.w-portfolio .w-portfolio-item {
	width: 100%;
	float: left;
	padding: 5px;
	position: relative;
	@include breakpoint($medium) {
		width: 48.5%;
	}
	@include breakpoint($large) {
		width: 32%;
	}
}

.w-portfolio-item-anchor {
	background-color: #fff; /* variable */
	color: #444; /* variable */
}

.w-portfolio-item-image {
	background-color: inherit;
}

img.w-portfolio-item-image-second {
	display: none;
}

.w-portfolio-item-meta {
	padding: 14px 20px;
	position: relative;
	background-color: $coporateColor;
	color: #fff;
}

.w-portfolio-item-meta-h {
	background-color: inherit;
}

.w-portfolio-item-title {
	font-size: 20px;
	color: inherit !important;
}

.w-portfolio-item-text {
	font-size: 0.9em;
	line-height: 18px;
	margin-top: 5px;
	opacity: 0.66;
}

.w-portfolio-item-arrow {
	display: block;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -15px;
	height: 24px;
	width: 24px;
	border-radius: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: inherit;
}

/* enables portfolio titles on touch screens */
.touch .w-portfolio-item-h {
	height: auto;
	padding: 0 !important;
}

.touch .w-portfolio-item-anchor {
	position: static;
}

.no-touch .w-portfolio-item-image-first {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-image-first {
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.no-touch img.w-portfolio-item-image-second {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.no-touch .w-portfolio-item-anchor:hover img.w-portfolio-item-image-second {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.no-touch .w-portfolio-item-meta {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translateY(101%);
	-ms-transform: translateY(101%);
	transform: translateY(101%);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-meta {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.w-portfolio-item-title {
	position: relative;
	z-index: 1;
}

.w-portfolio-item-arrow {
	-webkit-transition: top 0.3s;
	transition: top 0.3s;
}

.no-touch .w-portfolio-item-arrow {
	top: 4px;
}

.no-touch .w-portfolio-item-anchor:hover .w-portfolio-item-arrow {
	top: -10px;
}

ul.ce-uploads li {
	padding-bottom: 10px;
	border-bottom: 1px #ccc solid;
}

ul.ce-uploads li.li-first {
	padding-top: 10px;
	border-top: 1px #ccc solid;
}

ul.ce-uploads span.ce-uploads-fileName {
	text-decoration: none;
}

ul.ce-uploads span {
	display: inline-block;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 16px;
}

ul.ce-uploads span.ce-uploads-fileSize {
	padding-left: 10px;
	font-size: 14px;
	padding-top: 8px;
}

.ce-border img, .ce-border iframe {
	border: none;
}

.ce .ce-border .ce-media {
	border: 1px solid #cccccc;
	display: block;
	line-height: 173px;
	min-height: 173px;
	padding: 10px;
	margin-bottom: 10px;
}

/* Accordions */

.icon-type-accordion:before {
	font-size: 18px;
	color: #292e33;
	font-size: 18px;
	opacity: 0.5;
	transition: opacity 0.3s ease 0s;
}

/*desktop */
.iconClass-11 {
	.icon-type-accordion:before {
		content: "\f108";
	}
}

/*male*/
.iconClass-12 {
	.icon-type-accordion:before {
		content: "\f183";
	}
}

/* cog / zahnrad */
.iconClass-13 {
	.icon-type-accordion:before {
		content: "\f013";
	}
}

.accordion {
	h3.accordionHeader {
		display: block;
		margin: 0;
		cursor: pointer;
		line-height: 26px;
		padding: 14px 20px;
		white-space: nowrap;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		border-top: 1px #ccc solid;

		border-top: 1px #ccc solid;
		&:hover {
			background-color: #f2f4f5;
			.icon-type-accordion:before {
				opacity: 1;
			}
		}
		a {
			color: #292e33;
			font-size: 18px;
			padding-left: 10px;
			font-weight: normal;
			&:hover {
				text-decoration: none;
			}
		}
		.icon-angle-accordion:before {
			content: "\f107";
			color: #292e33;
			font-size: 22px;
			position: absolute;
			right: 30px;
		}
	}
	h3.accordionHeader.iconClass-11 {
		padding-left: 16px;
		a {
			padding-left: 8px;
		}
	}
	h3.accordionHeader.iconClass-12 {
		padding-left: 22px;
	}
	h3.accordionHeader.iconClass-12 a {
		padding-left: 12px;
	}
	h3.accordionHeader.ui-accordion-header-active {
		.icon-angle-accordion:before {
			content: "\f106";
		}
		a,
		.icon-type-accordion:before,
		.icon-angle-accordion:before {
			color: $coporateColor;
		}

	}
	h3.accordionHeader:last-child {
		border-bottom: 1px #ccc solid;
	}
	.accContent {
		padding-left: 18px;
		padding-right: 10px;
		ul {
			padding-left: 20px;
			margin-top: 5px;
		}
	}
}

.referenceNavigation {
	h1 {
		color: #292e33;
		font-size: 24px;
		font-weight: 400;
		line-height: 34px;
		text-align: center;
		margin-bottom:0;
		@include breakpoint($medium) {
			text-align: left;
		}
	}
	.nextPrevContainer {
		width:140px;
		float:none;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		@include breakpoint($medium) {
			float:right;
			text-align: right;
			margin:0;
		}
	}
	a {
		display: inline-block;
		font-size: 50px;
		line-height: 40px;
		height:50px;
		width:50px;
		margin-left: 5px;
		margin-top:10px;
		position: relative;
		color: #292e33;
		border:2px transparent solid;
		&:hover {
			text-decoration: none;
			color:$coporateColor;
			border:2px $coporateColor solid;
			border-radius:50%;
		}
		span {
			position: absolute;
			left:18px;
			top:8px;
			font-size:30px;
			.icon-angle-right {

			}
		}
		.icon-angle-right {
			left:20px;
		}
	}
}

